<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iustu.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.iustu.entity.Comment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comment_date" jdbcType="TIMESTAMP" property="commentDate" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="visitor_name" jdbcType="VARCHAR" property="visitorName" />
    <result column="visitor_ip" jdbcType="VARCHAR" property="visitorIp" />
    <result column="visitor_avatar" jdbcType="VARCHAR" property="visitorAvatar" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, blog_id, content, comment_date, state, visitor_name, visitor_ip, visitor_avatar
  </sql>
  <select id="selectByExample" parameterType="com.iustu.entity.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.iustu.entity.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iustu.entity.Comment">
    insert into comment (id, blog_id, content, 
      comment_date, state, visitor_name, 
      visitor_ip, visitor_avatar)
    values (#{id,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{commentDate,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER}, #{visitorName,jdbcType=VARCHAR}, 
      #{visitorIp,jdbcType=VARCHAR}, #{visitorAvatar,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iustu.entity.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="commentDate != null">
        comment_date,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="visitorName != null">
        visitor_name,
      </if>
      <if test="visitorIp != null">
        visitor_ip,
      </if>
      <if test="visitorAvatar != null">
        visitor_avatar,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogId != null">
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null">
        #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="visitorName != null">
        #{visitorName,jdbcType=VARCHAR},
      </if>
      <if test="visitorIp != null">
        #{visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="visitorAvatar != null">
        #{visitorAvatar,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iustu.entity.CommentExample" resultType="java.lang.Integer">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.blogId != null">
        blog_id = #{record.blogId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.commentDate != null">
        comment_date = #{record.commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.visitorName != null">
        visitor_name = #{record.visitorName,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorIp != null">
        visitor_ip = #{record.visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="record.visitorAvatar != null">
        visitor_avatar = #{record.visitorAvatar,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set id = #{record.id,jdbcType=INTEGER},
      blog_id = #{record.blogId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      comment_date = #{record.commentDate,jdbcType=TIMESTAMP},
      state = #{record.state,jdbcType=INTEGER},
      visitor_name = #{record.visitorName,jdbcType=VARCHAR},
      visitor_ip = #{record.visitorIp,jdbcType=VARCHAR},
      visitor_avatar = #{record.visitorAvatar,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iustu.entity.Comment">
    update comment
    <set>
      <if test="blogId != null">
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="commentDate != null">
        comment_date = #{commentDate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="visitorName != null">
        visitor_name = #{visitorName,jdbcType=VARCHAR},
      </if>
      <if test="visitorIp != null">
        visitor_ip = #{visitorIp,jdbcType=VARCHAR},
      </if>
      <if test="visitorAvatar != null">
        visitor_avatar = #{visitorAvatar,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iustu.entity.Comment">
    update comment
    set blog_id = #{blogId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      comment_date = #{commentDate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      visitor_name = #{visitorName,jdbcType=VARCHAR},
      visitor_ip = #{visitorIp,jdbcType=VARCHAR},
      visitor_avatar = #{visitorAvatar,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>